<!DOCTYPE html>
<html>
<head>
    <title>Cambiar contraseña</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div class="register-card">
     <div class="logo">
            <h1>Cambiar contraseña</h1>
        </div>
    <form method="POST">
       <div class="form-group">
                <label for="nueva_contrasena">Nueva contraseña:</label>
                <input type="password" id="nueva_contrasena" name="nueva_contrasena" required>
            </div>
            <div class="links">
        <button type="submit" class="register-btn">Cambiar</button>
        </div>
        </div>
    </form>
</body>
</html>